

<!-- footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>En Kit Company te ofrecemos hasta 6 cuotas sin interés con tarjeta o efectivo</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $4.000</h2>
                    <p>Realizando una compra que supere los $4000 tenes envio gratis a cualquier parte del país!. Sino retiralo en tu sucursal OCA más cercana.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Oficializado</h2>
                    <p>Camisetas con certificación de originalidad. ¿No te gusta? ¡Devolvelo!</p>
                </article>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->