<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/users/profile" method="GET">
					<div>
						<label for="email"> Email </label>
						<input type="email" name="email" placeholder="ingrese su email">
					</div>
					<div>
						<label for="contrase単a"> Contrase単a </label>
						<input type="contrase単a" name="contrase単a">
					</div>
					<div>
						<label for="recordarme"> Mantener mi sesion iniciada </label>
						<input type="checkbox" name="recordarme">
					</div>
					<button type="submit"> Submit </button>
				</form>
			</h2>


	<%- include('./partials/footer') %>
</body>

</html>