<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form method="POST">
					<div>
						<label class= "etiqueta" for="email"> Email </label>
						<input class= "registro" type="email" name="email" placeholder="ingrese su email">
					</div>
					<div>
						<label class= "etiqueta" for="contraseña"> Contraseña </label>
						<input class= "registro" type="contraseña" name="contrasenia">
					</div>
					<div>
						<label class= "etiqueta" for="recordarme"> Mantener mi sesion iniciada </label>
						<input class= "registro" type="checkbox" name="recordarme">
					</div>
					<button class= "botonRegistro" type="submit"> Submit </button>
				</form>
			</h2>


	<%- include('./partials/footer') %>
</body>

</html>