<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<%- include('./partials/headerLogueado') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/users/login" method="GET">
					<div>
						<label  class= "etiqueta" for="imagen"> Imagen </label>
						<input class= "registro" type="file" name="imagen" placeholder="imagen">
					</div>
					<div>
						<label class= "etiqueta" for="nombre"> Nombre del producto </label>
						<input class= "registro" type="text" name="nombre" placeholder="nombre del producto">
					</div>
					<div>
						<label class= "etiqueta" for="descripcion"> Descripcion </label>
						<input  class= "registro" type="text" name="descripcion" placeholder="descripcion del producto">
					</div>
					<label class= "etiqueta" for="fecha"> Fecha de carga </label>
						<input class= "registro" type="date" name="fecha" placeholder="fecha de carga">
					
					<button  class= "botonRegistro" type="submit"> Agregar productos </button>
				
				</form>
			</h2>

	<%- include('./partials/footer') %>

</html>