<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/headerLogueado', {info:data.user}) %>

<body>
	<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/users/login" method="GET">
					<div>
						<label for="imagen"> Imagen </label>
						<input type="file" name="imagen" placeholder="imagen">
					</div>
					<div>
						<label for="nombre"> Nombre del producto </label>
						<input type="text" name="nombre" placeholder="nombre del producto">
					</div>
					<div>
						<label for="descripcion"> Descripcion </label>
						<input type="text" name="descripcion" placeholder="descripcion del producto">
					</div>
					<label for="fecha"> Fecha de carga </label>
						<input type="date" name="fecha" placeholder="fecha de carga">
					
					<button type="submit"> Agregar productos </button>
				
				</form>
			</h2>

	<%- include('./partials/footer') %>

</html>